DATABASE_URL="postgresql://backloggi:backloggi_dev@localhost:5432/backloggi"
TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NUXT_PUBLIC_APP_URL=""
POSTGRES_USER=backloggi
POSTGRES_PASSWORD=backloggi_dev
POSTGRES_DB=backloggi
